//loader
#loading{
  background-color: #bd4932;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;

  &.hide{
    z-index: -1;
    opacity: 0;
  }
}

#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

//title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}

.section-title{
  @extend %title;
}

//container

.container{
  margin: 0 auto;

  &.sm{
    max-width: 684px;
  }

  &.lg{
    max-width: 1106px;
  }
}

//buttons
.btn {
  font-size: $btnFontSize;
  border-radius: 2px;
  padding: 12px 22px;
  color: $btnTextColor;
  display: inline-block;

  & + .btn {
    margin-left: 18px;
  }

  &.btn-default {
    background-color: $grey;

    &:hover {
      background-color: $btnDefaultHover;
    }
  }

  .btn.btn-action {
    background-color: $btnActionBg;

    .btn-action:hover {
      background-color: $btnDActionHover;
    }
  }

  .btn-disabled{
    background-color: $btnDisabledBg;
  }
}

//input

.form-control{
  padding: 13px 16px;
  border: 1px solid $activeInputBorder;
  border-radius: 2px;
  font-size: $inputFontSize;
  color: $inputColor;

  &:hover{
    border-color: $inputHoverColorBorder;
    cursor: pointer;
    color: $inputHoverColor;
  }

  &:focus{
    color: $inputActiveBorderColor;
    color: $inputHoverColor;
  }
}

//.text-input:focus{
//  color: $inputActiveBorderColor;
//}
//
//.input-placeholder,
//.input-password{
//  height: 39px;
//  width: 154px;
//  border: 1px solid $lightGrey;
//  padding: 19px 16px;
//  font-family: "Roboto";
//  font-size: 14px;
//  border-radius: 4px;
//  color: $inputColor;
//  font-weight: $fontLight;
//}
//
//.input-placeholder:hover{
//  border: 1px solid $inputActiveBorderColor;
//}

//header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control{
    padding: 18px;
    border-left: 1px solid $lightGrey;
    font-weight: $fontRegular;
    font-size: 20px;
    color: $darkGrey;
    position: relative;

    &.open{
      background-color: $xsLightGrey;

      .icon-arrow-down{
        transform: rotate(180deg);
        display: inline-block;
        line-height: 0;
      }
    }
  }

    span{
      margin: 0 20px 0 15px;
    }

    .icon-arrow-down{
      font-size: 12px;
    }

    .icon-notification{
      position: relative;
    }
    
    .circle{
      width: 8px;
      height: 8px;
      border-radius: 50px;
      background-color: $orange;
      position: absolute;
      top: 15px;
      right: 18px;
    }
  }

  .user-icon:hover{
    background-color: #f5f5f2;
  }

  .leonardo{
    font-size: 13px;
  }


//aside
%activeLink{
  background-color: $activeLinkBg;
  color: $activeLinkColor;
  border-left-color: $orange;
}

#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{
    padding-bottom: 40px;
    border-bottom: 1px solid $black;

    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }
        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          [class*='icon']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }

  .aside-manager{
    padding: 28px 14px;
    text-transform: uppercase;
    color: $darkGrey;
    font-size: 14px;
    letter-spacing: -.02em;
    position: relative;

    .avatar{
      margin-top: 18px;

      span {
        font-size: $fontSize;
        margin-left: 13px;
      }
    }

    .online{
      width: 11px;
      height: 11px;
      border-radius: 50px;
      background-color: $green;
      position: absolute;
      left: 43px;
      bottom: 62px;
    }
  }
}

//content
.content-wrapper{
  padding: 18px;
  height: calc(100vh - 62px);
  overflow-y: auto;
}

//card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }

  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }

  .card-form{
    .select-group{
      padding: 18px;

    }
    .input-group{
      label{
        display: block;
      }
      input{
        width: 100%;
      }
    }
  }
}

.card-body{
  font-size: 16px;

  .btn.btn-action{
    margin: 23px 0;
  }

  .td-link{
    font-weight: $fontLight;
    color: $blue;
  }

  .td-link:hover{
    color: $orange;
  }
}

.datepikcer-form{

  .date-input-wrap{
    padding: 5px 0;
    display: inline-block;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }

    label{
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;

      .icon-calendar{
        color: $darkGrey;
      }
    }
  }

  .btn{
    vertical-align: middle;
  }
}

.card-date {

  a{
    padding: 10px 15px 10px 10px;
  }

  .pagination {
    margin-top: 22px;

    .icon-arrow-left{
      margin-right: 25px;
      padding: 0;
      font-size: 12px;
    }

    .icon-arrow-right{
      font-size: 12px;
    }

    li {
      display: inline-block;
      color: $blue;
      font-weight: $fontBold;
      font-size: $titleFontSize;

      a{
        padding: 14px;
      }
    }

    .li-hover:hover{
      color: $titleColor;
      font-weight: $fontLight;

      a{ background-color: $tableTrHover;
      }
  }
  }
}

//dropdown
.dropdown-menu{
  display: none;
  position: absolute;
  padding: 10px 18px 24px;
  background-color: $xsLightGrey;
  top: 100%;
  left: 0;
  right: 0;

  li:hover{
    opacity: .6;
  }

  .dropdown-link{
    font-size: 12px;
    font-weight: $fontLight;
    color: $linkDropdownColor;
    margin: 0;
  }

  .dropdown-number{
    font-size: 12px;
    font-weight: $fontLight;
    color: $numberDropdownColor;
    margin: 0;
  }

  li + li{
    margin-top: 17px;
  }
}

//table

.table{
  font-size: $tableFontSize;
  border-collapse: collapse;

  tbody{

    a{
      padding: 0;
    }

    tr{
      transition: all .2s linear;
      &:hover{
        background-color: $tableTrHover;
        .hide-icons{
          opacity: 1;
        }
      }
      &:last-child{
        td{
          border-bottom: 1px solid $lightGrey;
        }
      }
    }
  }

  td{
    padding: 18px 10px;
    border-top: 1px solid $lightGrey;

    .hide-icons{
      opacity: 0;
      transition: all .3s linear;
    }

    .icon-trash{
      margin-left: 23px;
    }
  }

  .th-block{
    color: $titleColor;
    font-size: 13px;
    font-weight: $fontBold;
    padding: 37px 15px 15px 0;

    .icon-arrow-up{
      margin-left: 14px;
      color: $titleColor;
      opacity: 0;
      font-size: 10px;
    }
  }

  .th-block:hover{

    a{
      background-color: $thBgColor;
    }

    .icon-arrow-up{
      opacity: 1;
    }

    span{
      color: $black;
    }
  }
}

.modal{
  background-color: $modalBg;
  display: none;

  &#links{
    width: 70%;
    min-height: 100px;
  }

}